<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <link rel="stylesheet" href="forgot.css" class="rel" />
  <body>
    <form action="">
      <div class="main">
        <div class="box">
          <h1>Forgot password</h1>
          <input type="email" name="" id="email" placeholder="Email" />
          <input type="password" name="" id="password" placeholder="Password" />
          <input type="submit" value="Submit" id="forgot" />
          <p>
            Already have an account?
            <a href="Register.html" class="log"> Login</a>
            <!--href = "login.html"-->
          </p>
        </div>
      </div>
    </form>
  </body>
</html>
