
<!DOCTYPE html>
<html> 
    <head>
        <title>Stud</title>
        <link rel="web icon" type="icon" href="/static/room/css/images/Stud-logo.png"/>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="stylesheet" href="/static/room/header.css"/>
        <link rel="stylesheet" href="/static/room/css/fonts.css" />
        <link rel="stylesheet" href="/static/room/css/animation.css" />
    </head>
    <body>
        <div class="top-element">
            <!-- Background-cover-->
               <img class="cover" src="/static/room/css/images/cover rectangle.svg" alt="alt text"/>
            <!-- Header elements-->
            <div class="group-header">
                <div class="container-header">
                    <header class="header">
                        <div class="left-header">
                            <a href="/templates/room/Home.html">
                                <img class="Stud-logo" src="/static/room/css/images/Stud-logo.png"/>  
                            </a>
                        </div>
                        <nav class="middle-header">
                            <ul class="middle-list">
                                <li class="middle-item">
                                    <a class="middle-header-Nav"   href="/templates/room/Home.html">Home</a>
                                </li>
                                <li class="middle-item">
                                    <a class="middle-header-Nav" href = "{%url 'yourroom' %}">Your Room</a>
                                </li>
                                <li class="middle-item">
                                    <a class="middle-header-Nav" href="/templates/room/Explore.html">Explore</a>
                                </li>
                                <li class="middle-item">
                                    <a class="middle-header-Nav" href="/templates/room/Contact.html">Contact</a>
                                </li>
                            </ul>
                        </nav>
                        <div class="right-header">
                            <div class="notification-icon-container">
                                <img class="notification-icon" src="/static/room/css/images/Bell.svg"/>
                            </div>
                            <a class="Signup-text" href="/templates/room/Home.html">
                                Sign up
                            </a>
                            <a href="/templates/room/Home.html">
                                <button class="Login-button" >Login</button>
                            </a>
                        </div>
                    </header>
                </div>
            </div>
            <!--Header introduction-->
            <div class="group-header-intro">
                <h1 class="header-intro-Title">
                    Find out the best environment to focus and productivity
                </h1>
                <a class="buttonStyle" href="/templates/room/Home.html">
                    <button class="intro-startnow-button">Start now</button>
                </a>
            </div>
            <img class="intro-image" src="/static/room/css/images/intro-image.png">
        </div>
        <div class="mid-element" id="mid-element">
            <div class="featuresGrid">
                <div class="featureItem">
                    <img class="featureIcon" src="/static/room/css/images/community.png" alt="alt text" />
                    <h1 class="featureTitle">Community</h1>
                </div>
                <div class="featureItem1">
                    <img class="featureIcon" src="/static/room/css/images/focus.png" alt="alt text" />
                    <h1 class="featureTitle">Focus</h1>
                </div>
                <div class="featureItem2">
                    <img class="featureIcon1" src="/static/room/css/images/soundsandthemes.png" alt="alt text" />
                    <h1 class="featureTitle">Sounds and themes</h1>
                </div>
                <div class="featureItem3">
                    <img class="featureIcon" src="/static/room/css/images/notes.png" alt="alt text" />
                    <h1 class="featureTitle">Notes</h1>
                </div>
            </div>
        </div>
        <div class="location-section" id="location-section">
            <img class="location" src="/static/room/css/images/location.png"/>
        </div>
        <div class="prepare-section" id="prepare-section">
            <div class="prepare-container">
                <h1 class="prepare-title">Prepare Yourself And Start Exploring With Us.</h1>
                <h1 class="prepare-subtitle">Join now</h1>
                <a class="buttonStyle" href="/templates/room/Explore.html"><button class="prepare-button">Get started</button></a>
            </div>
        </div>
        <div class="subcribe-section" id="subcribe-section">
            <div class="subcribe-title">Subscribe<br />To Our Newsletter</div>
            <div class="subcribe-container">
                <div class="subcribe-form">
                    <div class="email">Yourmail@mail.com</div>
                    <a class="buttonStyle" href="/templates/room/Home.html">
                        <div class="subcribe-button">Subcribe</div>
                    </a>
                </div>
            </div>
        </div>
        <footer class="footer-section">
            <div class="footer-container">
                <a href="/templates/room/Home.html">
                    <img class="Stud-logo-footer" src="/static/room/css/images/Stud-logo.png"/>  
                </a>
                <nav class="footer-nav">
                    <a class="nav-item" href="/templates/room/Home.html">Home</a>
                    <a class="nav-item" href="/templates/room/YourRoom.html">Your Room</a>
                    <a class="nav-item" href="/templates/room/Explore.html">Explore</a>
                    <a class="nav-item" href="/templates/room/Contact.html">Contact</a>
                </nav>
                <div class="footer-link">
                    <div class="footer-link-item">Policy privacy</div>
                    <div class="footer-link-item">Term and codition</div>
                </div>
                <div class="footer-social">
                    <div class="footer-social-text">Find us on social media :</div>
                    <div class="footer-social-icons">
                        <img class="social-icon" src="/static/room/css/images/facebook-logo.svg">
                        <img class="social-icon" src="/static/room/css/images/youtube-logo.svg">
                        <img class="social-icon1" src="/static/room/css/images/instagram-logo.svg">
                    </div>
                </div>
            </div>
        </footer>
    </body>
    <script src="/static/room/js/animation.js"></script>
    <script src="/static/room/js/eventHandle.js"></script>
</html>