<!DOCTYPE html>
<html> 
    <head>
        <title>Stud</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />    
        <link rel="stylesheet" href="/static/room/css/header.css"/>
        <link rel="stylesheet" href="/static/room/css/fonts.css" />
    </head>
    <body>
        <div class="top-element">
            <!-- Background-cover-->
            <img class="cover" src="/static/room/css/images/cover rectangle.svg" alt="alt text"/>
            <!-- Header elements-->
            <div class="group-header">
                <div class="container-header">
                    <header class="header">
                        <div class="left-header">
                            <img class="Stud-logo" src="/static/room/css/images/Stud-logo.png"/>  
                        </div>
                        <div class="middle-header">
                            <div class="middle-header-Nav">Home</div>
                            <div class="middle-header-Nav">Explore</div>
                            <div class="middle-header-Nav">Your Room</div>
                            <div class="middle-header-Nav">Contact</div>
                        </div>
                        <div class="right-header">
                            <img class="notification-icon" src="/static/room/css/images/Bell.svg"/>
                            <div class="Signup-text">
                                Sign up
                            </div>
                            <button class="Login-button">
                                Log in
                            </button>
                        </div>
                    </header>
                </div>
            </div>
            <!--Header introduction-->
            <div class="group-header-intro">
                <h1 class="header-intro-Title">
                    Find out the best environment to focus and productivity
                </h1>
                <button class="intro-startnow-button">Start now</button>
            </div>
            <img class="intro-image" src="/static/room/css/images/intro-image.png">
        </div>
        <div class="mid-element">
            <div class="featuresGrid">
                <div class="featureItem">
                    <img class="featureIcon" src="/static/room/css/images/community.png" alt="alt text" />
                    <h1 class="featureTitle">Community</h1>
                </div>
                <div class="featureItem1">
                    <img class="featureIcon" src="/static/room/css/images/focus.png" alt="alt text" />
                    <h1 class="featureTitle">Focus</h1>
                </div>
                <div class="featureItem2">
                    <img class="featureIcon1" src="/static/room/css/images/soundsandthemes.png" alt="alt text" />
                    <h1 class="featureTitle">Sounds and themes</h1>
                </div>
                <div class="featureItem3">
                    <img class="featureIcon" src="/static/room/css/images/notes.png" alt="alt text" />
                    <h1 class="featureTitle">Notes</h1>
                </div>
            </div>
        </div>
        <div class="location-section">
            <img class="location" src="/static/room/css/images/location.png"/>
        </div>
        <div class="prepare-section">
            <div class="prepare-container">
                <h1 class="prepare-title">Prepare Yourself And Start Exploring With Us.</h1>
                <h1 class="prepare-subtitle">Join now</h1>
                <button class="prepare-button">Get started</button>
            </div>
        </div>
        <div class="subcribe-section">
            <div class="subcribe-title">Subscribe<br />To Our Newsletter</div>
            <div class="subcribe-container">
                <div class="subcribe-form">
                    <div class="email">Yourmail@mail.com</div>
                    <div class="subcribe-button">Subcribe</div>
                </div>
            </div>
        </div>
        <footer class="footer-section">
            <div class="footer-container">
                    <img class="Stud-logo-footer" src="/static/room/css/images/Stud-logo.png"/>  
                <div class="footer-nav">
                    <div class="nav-item">Home</div>
                    <div class="nav-item">Your Room</div>
                    <div class="nav-item">Explore</div>
                    <div class="nav-item">Contact</div>
                </div>
                <div class="footer-link">
                    <div class="footer-link-item">Policy privacy</div>
                    <div class="footer-link-item">Term and codition</div>
                </div>
                <div class="footer-social">
                    <div class="footer-social-text">Find us on social media :</div>
                    <div class="footer-social-icons">
                        <img class="social-icon" src="/static/room/css/images/facebook-logo.svg">
                        <img class="social-icon" src="/static/room/css/images/youtube-logo.svg">
                        <img class="social-icon1" src="/static/room/css/images/instagram-logo.svg">
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>