<!DOCTYPE html>
<html>
    <head>
        <title>Your Room</title>
        <link rel="web icon" type="icon" href="../../../mainpage/static/mainpage/images/Home/Stud-logo.png"/>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="stylesheet" href="../../static/room/css/YourRoom/header.css"/>
        <link rel="stylesheet" href="../../static/room/css/YourRoom/message.css"/>
        <link rel="stylesheet" href="../../static/room/css/YourRoom/animation.css"/>
        <script async defer src="https://apis.google.com/js/api.js" onload="gapiLoaded()"></script>
        <script async defer src="https://accounts.google.com/gsi/client" onload="gisLoaded()"></script>
        <link rel="stylesheet" href="../../../static/mainpage/css/Home/fonts.css" />
        <link rel="stylesheet" href="../../static/room/css/YourRoom/widget.css" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <header>
            <div class="container-header">
                <div class="left-header">
                    <div class="yourroom-header">Your Room</div>
                    <div class="invite-header">Invite</div>
                    <div class="bellNoti">
                        <img class="bellNotiImage" src="../../static/room/images/YourRoom/bell.svg"/>
                    </div>
                </div>
                <div class="right-header">
                    <div class="logout" >
                        <a href="../"><img class="logoutImage" src="../../static/room/images/YourRoom/logout.svg"/></a>
                    </div>
                    <div class="setting">
                        <img class="logoutImage" src="../../static/room/images/YourRoom/setting.svg"/>
                    </div>
                    <div class="zoomOut">
                        <img class="logoutImage" src="../../static/room/images/YourRoom/zoomOut.svg"/>
                    </div>
                </div>
            </div>
        </header>

        <nav class="nav">
                <div class="container-nav">
                    <div class="theme">
                        <img class="themeImage" src="../../static/room/images/YourRoom/themes.svg"/>
                    </div>
                    <div class="music">
                        <img class="musicImage" src="../../static/room/images/YourRoom/music.svg"/>
                    </div>
                    <div class="calendar">
                        <img class="navImage" src="../../static/room/images/YourRoom/calendar.svg"/>
                    </div>
                    <div class="clock">
                        <img class="navImage" src="../../static/room/images/YourRoom/clock.svg"/>
                    </div>
                    <div class="notebook">
                        <img class="navImage" src="../../static/room/images/YourRoom/notebook.svg"/>
                    </div>
                    <div class="participate">
                        <img class="navImage" src="../../static/room/images/YourRoom/participate.svg"/>
                    </div>
                </div>
            <div class="messageIcon">
                <img class="messageImage" src="../../static/room/images/YourRoom/message.svg"/>
            </div>
        </nav>
        <!--Widget-->
        <!--Theme-->
        <div class="themeWidget">
            <div class="headerTheme">
                <div class="containerHeaderTheme">
                    <div class="leftHeaderTheme">
                        <img class="closeThemeWidget" src="../../static/room/images/YourRoom/closeWidget.svg">
                        <div class="textHeaderTheme">Themes</div>
                    </div>
                    <div class="rightHeaderTheme">
                        <img class="themeWidgetIcon" src="../../static/room/images/YourRoom/themes.svg"/>
                        <img class="settingWidget" src="../../static/room/images/YourRoom/settingWidget.svg"/>
                    </div>
                </div>
            </div>
            <div class="textTheme">Click to choose theme</div>
            <div class="containerThemeList">
                <div class="themeHolder">
                    <div class="itemList">
                        <!-- <img class="imageBox" src="../../static/room/images/YourRoom/themes/background.jpg"></img>
                        <img class="imageBox" src="../../static/room/images/YourRoom/themes/background.jpg"></img>
                        <img class="imageBox" src="../../static/room/images/YourRoom/themes/background.jpg"></img>
                        <img class="imageBox" src="../../static/room/images/YourRoom/themes/background.jpg"></img>
                        <img class="imageBox" src="../../static/room/images/YourRoom/themes/background.jpg"></img>
                        <img class="imageBox" src="../../static/room/images/YourRoom/themes/background.jpg"></img>
                        <img class="imageBox" src="../../static/room/images/YourRoom/themes/background.jpg"></img>
                        <img class="imageBox" src="../../static/room/images/YourRoom/themes/background.jpg"></img>
                        <img class="imageBox" src="../../static/room/images/YourRoom/themes/background.jpg"></img>
                        <img class="imageBox" src="../../static/room/images/YourRoom/themes/background.jpg"></img> -->
                        {% for image in images %}
                        <img src="{{image.image.url}}" alt="{{image.title}}" class="imageBox">
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="containerUploadImage">
                <div class="uploadImageButton">
                    <button class="buttonUploadImage">Upload</button>
                </div>
                <div class="formUploadImage">
                    <form class="formUploadImage-container" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                         <!--{{ form.as_p }} -->
                         <p>
                            <label for="id_title">Title:</label>
                            <input type="text" name="title" class="title-field" required="" id="id_title">
                          </p>
                          <p>
                            <label for="id_image" class="image-field">Image:</label>
                            <input type="file" name="image" class="image-field" accept="image/*" required="" id="id_image">
                        </p>
<div class="formUploadImage-top">
                            <input type="file" id="id_image" hidden/>
                            <label class="chooseFileButton" for="id_image">Choose File</label>
                            <span id="file-chosen">No file chosen</span>
                        </div>
                        <div class="formUploadImage-bottom">
                            <button class="formUploadImage-bottom-button" type="submit">Upload</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--Music-->
        <div class="musicContainer">
            <div class="topperMusic">
                <div class="textTopperMusic">Sounds</div>  
                <img class="closeMusicWidget" src="../../static/room/images/YourRoom/closeWidget.svg">
            </div>
            <iframe id="musicWidget" class="musicWidget" src="https://open.spotify.com/embed/album/6s84u2TUpR3wdUv4NgKA2j?utm_source=generator" frameborder="none" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            <div class="urlInputContainer">
                <input type="text" id="urlInput" placeholder="Enter YouTube, Spotify, or Apple Music URL here">
                <button id="playMusicButton">Play</button>
                <button id="resetButton">Reset</button>
            </div>
        </div>
        <!--Calendar-->
        <div class="calendarWidget">
            <div class="headerCalendarWidget">
                <div class="textCalendarWidget">Calendar</div>
                <img class="closeCalendarWidget" src="../../static/room/images/YourRoom/closeWidget.svg">
            </div>
            <div class="clockSection">
                <div class="timeClock"></div>
                <div class="dateClock"></div>
            </div>
            <div class="controls">
                <div class="dateNavButton">
                    <button id="prevDayButton" onclick="prevDay()">Previous Day</button>
                    <span id="currentDate"></span>
                    <button id="nextDayButton" onclick="nextDay()">Next Day</button>
                </div>
            </div>
            <div class="calendarSection" id="calendarSection">
                <!-- Display by js -->
            </div>
            <div class="calendarNavButton">
                <button id="authorize_button" onclick="handleAuthClick()">Authorize</button>
                <button id="signout_button" onclick="handleSignoutClick()">Sign Out</button>
            </div>
        </div>
        <!--Clock-->
        <div class="clockWidget">
            <div class="containerClose">
                <div class="textClockWidget">Clock</div>
                <img class="closeClockWidget" src="../../static/room/images/YourRoom/closeWidget.svg">
            </div>
            <div class="containerTwoSection">
                <div class="containerPomodoro">
                    <h1 class="textPomodoro">Pomodoro</h1>
                    <div class="pomodoroSection">
                        <span class="pomodoro">00:00</span>
                    </div>
                    <div class="timeSection">
                        <div class="minutesSection">
                            <label for="minutes">Minute:</label>
                            <input type="number" id="minutes" min="0" max="59" value="25">
                        </div>
                        <div class="secondSection">
                            <label for="seconds">Second:</label>
                        <input type="number" id="seconds" min="0" max="59" value="0">
                        </div>
                    </div>
                    <div class="startResetSection">
                        <!-- achievement btn-->
                        <button id="viewAchievementBtn">View Achievement</button>
                        <div id="achievementPopup" style="display: none;">
                            <p>Total Time Studied: <span id="totalTime"></span></p>
                            <p>Number of Sessions: <span id="numSessions"></span></p>
                            <button id="closePopupBtn">Close</button>
                        </div>
                        <!-- achievement btn-->
                        <form method="post">
                            {% csrf_token %}
                            <button class="startButton" id="startButton" action="/start_timer" >Start</button>
                            
                        </form>

                        <form method="post">
                            {% csrf_token %}
                            <button class="resetButton" id="resetButton" action="/end_timer">Reset</button>
                        </form>
                    </div>
                </div>
                <div class="containerTracking">
                    <h1 class="textTracking">Tracking</h1>
                    <div class="trackingSection">
                        <span class="tracking" id="tracking">00:00</span>
                    </div>
                    <div class="trackingToggleSection">
                        <div class="trackingButton" id="trackingButton">
                            <input type="checkbox" id="toggle-switch" class="toggle-input">
                            <label for="toggle-switch" class="toggle-label"></label>
                        </div>
                    </div>
                </div>
                
                

            </div>
        </div>
        <!--Note widget-->
        <div class="noteWidget">
            <div class="containerHeaderNote">
                <div class="textNote">Note</div>
                <img class="closeNoteWidget" src="../../static/room/images/YourRoom/closeWidget.svg"></img>
            </div>
            <div class="containerNoteButton">
                <button id="addTodoButton">Add Todo</button>
            </div>
            <div id="noteSection">
                <div id="todoContainer"></div>
                <textarea id="noteInput" placeholder="Write your note here..."></textarea>
            </div>
        </div>
        <!-- Message widget -->
        <div class="messageWidget">
            <div class="containerMessage">
                <center><h2>Chats</h2></center><hr>
                <div class="chat-body-parent">
                    <div class="chat-body" id="tasks">
                        <div class="message" id="chatContainer">
                            <!-- message chat-->
                            {% for i in messages %}
                                {% if i.sender != user %}
                                    <div class="receive">
                                        <p><strong>{{i.sender}}</strong></p>
                                        <p style="color: #000;"> {{i.message}}</p>
                                    </div>
                                {% else %}
                                    <div class="send">
                                        <p style="color: #000;">{{i.message}}</p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="form">
                            <form action="" id="message-form" method="POST">
                                {% csrf_token %}
                                <textarea id="msg" cols="30" name="message" rows="10" placeholder="Enter your message" required></textarea>
                                <button class="submit" type="submit">Send</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Participate widget-->
        <div class="memberWidget">
            <div class="memberWidget-top">
                <div class="memberWidget-top-text">Members</div>
            </div>
            <div class="memberWidget-bottom">
                <div class="memberWidget-bottom-member">10/20</div>
            </div>
            </div>
        </div>
        <!-- Header information-->
         <div class="yourroom-header-popup">
            <div class="yourroom-header-popup-top">
                <div class="yourroom-header-popup-top-text">Your room</div>
                <img class="yourroom-header-popup-top-close" src="../../static/room/images/YourRoom/closeWidget.svg">
            </div>
            <div class="yourroom-header-popup-bottom">
                <div class="yourroom-header-bottom-name">Room's name</div>
                <div class="yourroom-header-bottom-description"> Room description</div>
            </div>
        </div>
        <div class="invite-header-popup">
            <div class="invite-header-popup-top">
                <div class="invite-header-popup-top-text">Invite link</div>
                <img class="invite-header-popup-top-close" src="../../static/room/images/YourRoom/closeWidget.svg">
            </div>
            <div class="invite-header-popup-bottom">
                <div class="invite-header-popup-bottom-text">Link</div>
            </div>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../../static/room/js/YourRoom/controlWidget.js"></script>
    <script async defer src="https://apis.google.com/js/api.js" onload="gapiLoaded()"></script>
    <script async defer src="https://accounts.google.com/gsi/client" onload="gisLoaded()"></script>
</html>
