<!DOCTYPE html>
<html>
    <head>
        <title>Your Room</title>
        <link rel="web icon" type="icon" href="/static/room/css/images/Stud-logo.png"/>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="stylesheet" href="../../static/room/css/YourRoom/header.css"/>
        <link rel="stylesheet" href="../../../mainpage/static/mainpage/css/Home/fonts.css" />
        <link rel="stylesheet" href="../../static/room/css/YourRoom/widget.css" />
    </head>
    <body>
        <header>
            <div class="container-header">
                <div class="left-header">
                    <div class="yourroom-header">Your Room</div>
                    <div class="invite-header">Invite</div>
                    <div class="bellNoti">
                        <img class="bellNotiImage" src="../../static/room/images/YourRoom/bell.svg"/>
                    </div>
                </div>
                <div class="right-header">
                    <div class="logout">
                        <img class="logoutImage" src="../../static/room/images/YourRoom/logout.svg"/>
                    </div>
                    <div class="setting">
                        <img class="logoutImage" src="../../static/room/images/YourRoom/setting.svg"/>
                    </div>
                    <div class="zoomOut">
                        <img class="logoutImage" src="../../static/room/images/YourRoom/zoomOut.svg"/>
                    </div>
                </div>
            </div>
        </header>

        <nav class="nav">
                <div class="container-nav">
                    <div class="theme">
                        <img class="themeImage" src="../../static/room/images/YourRoom/themes.svg"/>
                    </div>
                    <div class="music">
                        <img class="musicImage" src="../../static/room/images/YourRoom/music.svg"/>
                    </div>
                    <div class="calendar">
                        <img class="navImage" src="../../static/room/images/YourRoom/calendar.svg"/>
                    </div>
                    <div class="clock">
                        <img class="navImage" src="../../static/room/images/YourRoom/clock.svg"/>
                    </div>
                    <div class="notebook">
                        <img class="navImage" src="../../static/room/images/YourRoom/notebook.svg"/>
                    </div>
                    <div class="participate">
                        <img class="navImage" src="../../static/room/images/YourRoom/participate.svg"/>
                    </div>
                </div>
            <div class="message">
                <img class="messageImage" src="../../static/room/images/YourRoom/message.svg"/>
            </div>
        </nav>
        <!--Widget-->
        <!--Theme-->
        <div class="themeWidget">
            <div class="headerTheme">
                <div class="containerHeaderTheme">
                    <div class="leftHeaderTheme">
                        <img class="closeThemeWidget" src="../../static/room/images/YourRoom/closeWidget.svg">
                        <div class="textHeaderTheme">Themes</div>
                    </div>
                    <div class="rightHeaderTheme">
                        <img class="themeWidgetIcon" src="../../static/room/images/YourRoom/themes.svg"/>
                        <img class="settingWidget" src="../../static/room/images/YourRoom/settingWidget.svg"/>
                    </div>
                </div>
            </div>
            <div class="textTheme">Click to choose theme</div>
            <div class="containerThemeList">
                <div class="themeHolder">
                    <div class="itemList">
                        <!-- <img class="imageBox" src="../../static/room/images/YourRoom/themes/background.jpg"></img>
                        <img class="imageBox" src="../../static/room/images/YourRoom/themes/background.jpg"></img>
                        <img class="imageBox" src="../../static/room/images/YourRoom/themes/background.jpg"></img>
                        <img class="imageBox" src="../../static/room/images/YourRoom/themes/background.jpg"></img>
                        <img class="imageBox" src="../../static/room/images/YourRoom/themes/background.jpg"></img>
                        <img class="imageBox" src="../../static/room/images/YourRoom/themes/background.jpg"></img>
                        <img class="imageBox" src="../../static/room/images/YourRoom/themes/background.jpg"></img>
                        <img class="imageBox" src="../../static/room/images/YourRoom/themes/background.jpg"></img> -->
                        {% for image in images %}
                        <img src="{{image.image.url}}" alt="{{image.title}}" class="imageBox">
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!--Music-->
        <div class="musicContainer">
            <div class="topperMusic">
                <div class="textTopperMusic">Sounds</div>  
                <img class="closeMusicWidget" src="../../static/room/images/YourRoom/closeWidget.svg">
            </div>
            <iframe class="musicWidget" src="https://open.spotify.com/embed/album/6s84u2TUpR3wdUv4NgKA2j?utm_source=generator" frameBorder="none" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>
        <!--Calendar-->
        <div class="calendarContainer">
            <div class="time"></div>
            <div class="date"></div>
        </div>
        <!--Clock-->
        <div class="clockWidget">
            <div class="containerClose">
                <div class="textClockWidget">Clock</div>
                <img class="closeClockWidget" src="../../static/room/images/YourRoom/closeWidget.svg">
            </div>
            <div class="containerTwoSection">
                <div class="containerPomodoro">
                    <h1 class="textPomodoro">Pomodoro</h1>
                    <div class="pomodoroSection">
                        <span class="pomodoro">00:00</span>
                    </div>
                    <div class="timeSection">
                        <div class="minutesSection">
                            <label for="minutes">Minute:</label>
                            <input type="number" id="minutes" min="0" max="59" value="25">
                        </div>
                        <div class="secondSection">
                            <label for="seconds">Second:</label>
                        <input type="number" id="seconds" min="0" max="59" value="0">
                        </div>
                    </div>
                    <div class="startResetSection">
                        <button class="startButton" id="startButton">Start</button>
                        <button class="resetButton" id="resetButton">Reset</button>
                    </div>
                </div>
                <div class="containerTracking">
                    <h1 class="textTracking">Tracking</h1>
                    <div class="trackingSection">
                        <span class="tracking" id="tracking">00:00</span>
                    </div>
                    <div class="trackingToggleSection">
                        <div class="trackingButton" id="trackingButton">
                            <input type="checkbox" id="toggle-switch" class="toggle-input">
                            <label for="toggle-switch" class="toggle-label"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="../../static/room/js/YourRoom/controlWidget.js"></script>
</html>