<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/mainpage/css/Contact/style.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <title>Contact</title>
  </head>

  <body>
    <div class="group-header">
      <div class="container-header">
        <header class="header">
          <div class="left-header">
            <a href="/Contact">
              <img class="Stud-logo" src="../../static/mainpage/images/Contact/Stud-logo.png" />
            </a>
          </div>
          <nav class="middle-header">
            <ul class="middle-list">
              <li class="middle-item">
                <a class="middle-header-Nav" href="/"
                  >Home</a
                >
              </li>
              <li class="middle-item">
                <a class="middle-header-Nav" href="/room/yourroom"
                  >Your Room</a
                >
              </li>
              <li class="middle-item">
                <a class="middle-header-Nav" href="/explore"
                  >Explore</a
                >
              </li>
              <li class="middle-item">
                <a class="middle-header-Nav" href="contact"
                  >Contact</a
                >
              </li>
            </ul>
          </nav>
        </header>
      </div>
    </div>

    <section class="Contact">
      <div class="Container">
        <div class="Left-side">
          <div class="Content">
            <h1>Contact Us</h1>
          </div>

          <div class="Contactinfo">
            <div class="box">
              <div class="icon">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <div class="text1">
                  <p>0123-456-789</p>
                </div>
              </div>
            </div>
            <div class="box">
              <div class="icon">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <div class="text2">
                  <p>227 Nguyễn Văn Cừ, <br />Phường 4, Quận 5, TP.HCM<br /></p>
                </div>
              </div>
            </div>
            <div class="box">
              <div class="icon">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                <div class="text">
                  <p>Stud@gmail.com</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="Contact form">
          <form>
            <div class="Inputbox">
              <span>Full name</span>
              <input type="text" name="" required="required" />
            </div>
            <div class="Inputbox">
              <span>Email address</span>
              <input type="text" name="" required="required" />
            </div>
            <div class="Inputbox1">
              <span>Your message</span>
              <textarea name="" required="required" rows="4"></textarea>
            </div>

            <button type="submit" class="btn">Submit</button>
          </form>
        </div>
      </div>
    </section>
    <!--Update-->
    <section>
      <div class="Aboutus">
        <h1>ABOUT US</h1>
        <div class="wrapper">
          <div class="content">
            <h3>
              Creating this website stems from our passion for fostering
              connections and building a platform where individuals and groups
              can cultivate their unique spaces. In today's digital age, having
              a dedicated online space where people can express themselves,
              share ideas, and collaborate is more crucial than ever. Our goal
              is to create a welcoming and versatile environment that caters to
              personal and collective needs. Whether it's for professional
              networking, creative collaborations, or simply a place to connect
              with like-minded individuals, this website aims to be a hub of
              interaction and growth. By providing a customizable and
              user-friendly interface, we hope to empower users to shape their
              online presence and build meaningful relationships. This project
              is a testament to our belief in the power of community and the
              endless possibilities that arise when people come together.
            </h3>
            <div class="button">
              <a href="">Read more</a>
            </div>
          </div>
          <div class="image-section">
            <img src="../../static/mainpage/images/Contact/group.jpg" />
          </div>
        </div>
      </div>
    </section>

    <footer class="footer-section">
      <div class="footer-container">
        <a href="/templates/room/Home.html">
          <img
            class="Stud-logo-footer"
            src="../../static/mainpage/images/Stud-logo.png"
          />
        </a>
        <nav class="footer-nav">
          <a class="nav-item" href="/templates/room/Home.html">Home</a>
          <a class="nav-item" href="/templates/room/YourRoom.html">Your Room</a>
          <a class="nav-item" href="/templates/room/Explore.html">Explore</a>
          <a class="nav-item" href="/templates/room/Contact.html">Contact</a>
        </nav>
        <div class="footer-link">
          <div class="footer-link-item">Policy privacy</div>
          <div class="footer-link-item">Term and codition</div>
        </div>
        <div class="footer-social">
          <div class="footer-social-text">Find us on social media :</div>
          <div class="footer-social-icons">
            <img
              class="social-icon"
              src="../../static/mainpage/images/Contact/facebook-logo.svg"
            />
            <img
              class="social-icon"
              src="../../static/mainpage/images/Contact/youtube-logo.svg"
            />
            <img
              class="social-icon1"
              src="../../static/mainpage/images/Contact/instagram-logo.svg"
            />
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
