<!DOCTYPE html>
<html>
    <head>
        <title>Explore</title>
        <link rel="web icon" type="icon" href="../../static/mainpage/images/Explore/Stud-logo.png"/>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="stylesheet" href="../../static/mainpage/css/Explore/explore.css"/>
        <link rel="stylesheet" href="../../static/mainpage/css/Home/fonts.css" />
    </head>
    <body>
        <header class="explore__header">
            <div class="explore__header--left">
                <img class="explore__header--HomeImage" src="../../static/mainpage/images/Explore/Stud-logo.png" href="../../templates/mainpage/Home.html">
            </div>
            <div class="explore__header--middle">
                <input class="explore__header--searchBar" placeholder="Search room">
                <div class="explore__header--searchIcon">
                    <img class="searchImg" src="../../static/mainpage/images/Explore/search-icon.svg">
                </div>  </input>
                
            </div>
            <div class="explore__header--right">
                <div class="explore__header--right--container">
                    <button class="explore__header--createRoomButton">Create Room</button>
                <img class="explore__header--noti" src="../../static/mainpage/images/Explore/Bell.svg">
                <img class="explore__header--userInfo" src="../../static/mainpage/images/Explore/user-icon.svg">
                </div>
            </div>
        </header>
        <nav class="explore__nav">
            <div class="explore__nav--container">
                <div class="explore__nav__top">
                    <div class="explore__nav__top--title">Home</div>
                    <div class="explore__nav__top--discover">
                        <img class="explore__nav__top--image" src="../../static/mainpage/images/Explore/discover-icon.svg">
                        <div class="explore__nav__top--discoverText">Discover</div>
                    </div>
                    <div class="explore__nav__top--trending">
                        <img class="explore__nav__top--image" src="../../static/mainpage/images/Explore/trending-icon.svg">
                        <div class="explore__nav__top--trendingText">Trending</div>
                    </div>
                    <div class="explore__nav__top--theme">
                        <img class="explore__nav__top--image" src="../../static/mainpage/images/Explore/theme-icon.svg">
                        <div class="explore__nav__top--themeText">Theme</div>
                    </div>
                    <div class="explore__nav__top--bookmark">
                        <img class="explore__nav__top--image" src="../../static/mainpage/images/Explore/bookmark-icon.svg">
                        <div class="explore__nav__top--bookmarkText">Book Mark</div>
                    </div>
                </div>
                <div class="explore__nav__middle">
                    <div class="explore__nav__middle--categoriesText">
                        Categories
                    </div>
                    <div class="explore__nav__middle--types">
                        <img class="explore__nav__middle--image" src="../../static/mainpage/images/Explore/types-icon.svg">
                        <div class="explore__nav__middle--typesText">University</div>
                    </div>
                    <div class="explore__nav__middle--types">
                        <img class="explore__nav__middle--image" src="../../static/mainpage/images/Explore/types-icon.svg">
                        <div class="explore__nav__middle--typesText">High School</div>
                    </div>
                    <div class="explore__nav__middle--types">
                        <img class="explore__nav__middle--image" src="../../static/mainpage/images/Explore/types-icon.svg">
                        <div class="explore__nav__middle--typesText">Types</div>
                    </div>
                    <div class="explore__nav__middle--types">
                        <img class="explore__nav__middle--image" src="../../static/mainpage/images/Explore/types-icon.svg">
                        <div class="explore__nav__middle--typesText">Types</div>
                    </div>
                </div>
                <div class="explore__nav__bottom">
                    <div class="explore__nav__bottom--container">
                        <img class="explore__nav__bottom--signoutImg" src="../../static/mainpage/images/Explore/signout-icon.svg">
                        <div class="explore__nav__bottom--signoutText">Sign Out</div>
                    </div>
                </div>
            </div>
        </nav>
        <main>
            <div class="explore__main--discoverThemeSection">
                <div class="explore__main--discoverThemeSection--title">Discover Themes</div>
                <div class="explore__main--discoverThemeSection--subtitle">Choose Favorite Themes</div>
                <div class="explore__main--discoverThemeSection--themeList">
                    <div class="explore__main--discoverThemeSection--themeBox">
                        <img class="explore__main--discoverThemeSection--themeBoxImg" src="../../static/mainpage/images/Explore/discovery-theme-icon.png">
                        <img class="explore__main--discoverThemeSection--heartImg" src="../../static/mainpage/images/Explore/heart-theme-icon.svg">
                    </div>
                    <div class="explore__main--discoverThemeSection--themeBox">
                        <img class="explore__main--discoverThemeSection--themeBoxImg" src="../../static/mainpage/images/Explore/discovery-theme-icon.png">
                        <img class="explore__main--discoverThemeSection--heartImg" src="../../static/mainpage/images/Explore/heart-theme-icon.svg">
                    </div>
                    <div class="explore__main--discoverThemeSection--themeBox">
                        <img class="explore__main--discoverThemeSection--themeBoxImg" src="../../static/mainpage/images/Explore/discovery-theme-icon.png">
                        <img class="explore__main--discoverThemeSection--heartImg" src="../../static/mainpage/images/Explore/heart-theme-icon.svg">
                    </div>
                </div>
            </div>
            <div class="explore__main--discoverRoomSection">
                <div class="explore__main--discoverRoomSection--title">Discover Room</div>
                <div class="explore__main--discoverRoomSection--roomList">
                    <div class="explore__main--discoverRoomSection--roomBox">
                        <div class="roomBox-top">
                            <img class="roomBoxImg" src="../../static/mainpage/images/Explore/roombox.png">
                        </div>
                        <div class="roomBox-middleUser">
                            <img class="roomUserImg" src="../../static/mainpage/images/Explore/user-icon.svg">
                        </div>
                        <div class="roomBox-bottom">
                            <div class="roomName">Room Name</div>
                            <div class="roomDescription">Welcome to my room</div>
                            <div class="roomMembers-container">
                                <div class="roomMembers">10/20</div>
                            </div>
                        </div>
                    </div>
                    <div class="explore__main--discoverRoomSection--roomBox">
                        <div class="roomBox-top">
                            <img class="roomBoxImg" src="../../static/mainpage/images/Explore/roombox.png">
                        </div>
                        <div class="roomBox-middleUser">
                            <img class="roomUserImg" src="../../static/mainpage/images/Explore/user-icon.svg">
                        </div>
                        <div class="roomBox-bottom">
                            <div class="roomName">Room Name</div>
                            <div class="roomDescription">Welcome to my room</div>
                            <div class="roomMembers-container">
                                <div class="roomMembers">10/20</div>
                            </div>
                        </div>
                    </div>
                    <div class="explore__main--discoverRoomSection--roomBox">
                        <div class="roomBox-top">
                            <img class="roomBoxImg" src="../../static/mainpage/images/Explore/roombox.png">
                        </div>
                        <div class="roomBox-middleUser">
                            <img class="roomUserImg" src="../../static/mainpage/images/Explore/user-icon.svg">
                        </div>
                        <div class="roomBox-bottom">
                            <div class="roomName">Room Name</div>
                            <div class="roomDescription">Welcome to my room</div>
                            <div class="roomMembers-container">
                                <div class="roomMembers">10/20</div>
                            </div>
                        </div>
                    </div>
                    <div class="explore__main--discoverRoomSection--roomBox">
                        <div class="roomBox-top">
                            <img class="roomBoxImg" src="../../static/mainpage/images/Explore/roombox.png">
                        </div>
                        <div class="roomBox-middleUser">
                            <img class="roomUserImg" src="../../static/mainpage/images/Explore/user-icon.svg">
                        </div>
                        <div class="roomBox-bottom">
                            <div class="roomName">Room Name</div>
                            <div class="roomDescription">Welcome to my room</div>
                            <div class="roomMembers-container">
                                <div class="roomMembers">10/20</div>
                            </div>
                        </div>
                    </div>
                    <div class="explore__main--discoverRoomSection--roomBox">
                        <div class="roomBox-top">
                            <img class="roomBoxImg" src="../../static/mainpage/images/Explore/roombox.png">
                        </div>
                        <div class="roomBox-middleUser">
                            <img class="roomUserImg" src="../../static/mainpage/images/Explore/user-icon.svg">
                        </div>
                        <div class="roomBox-bottom">
                            <div class="roomName">Room Name</div>
                            <div class="roomDescription">Welcome to my room</div>
                            <div class="roomMembers-container">
                                <div class="roomMembers">10/20</div>
                            </div>
                        </div>
                    </div>
                    <div class="explore__main--discoverRoomSection--roomBox">
                        <div class="roomBox-top">
                            <img class="roomBoxImg" src="../../static/mainpage/images/Explore/roombox.png">
                        </div>
                        <div class="roomBox-middleUser">
                            <img class="roomUserImg" src="../../static/mainpage/images/Explore/user-icon.svg">
                        </div>
                        <div class="roomBox-bottom">
                            <div class="roomName">Room Name</div>
                            <div class="roomDescription">Welcome to my room</div>
                            <div class="roomMembers-container">
                                <div class="roomMembers">10/20</div>
                            </div>
                        </div>
                    </div><div class="explore__main--discoverRoomSection--roomBox">
                        <div class="roomBox-top">
                            <img class="roomBoxImg" src="../../static/mainpage/images/Explore/roombox.png">
                        </div>
                        <div class="roomBox-middleUser">
                            <img class="roomUserImg" src="../../static/mainpage/images/Explore/user-icon.svg">
                        </div>
                        <div class="roomBox-bottom">
                            <div class="roomName">Room Name</div>
                            <div class="roomDescription">Welcome to my room</div>
                            <div class="roomMembers-container">
                                <div class="roomMembers">10/20</div>
                            </div>
                        </div>
                    </div><div class="explore__main--discoverRoomSection--roomBox">
                        <div class="roomBox-top">
                            <img class="roomBoxImg" src="../../static/mainpage/images/Explore/roombox.png">
                        </div>
                        <div class="roomBox-middleUser">
                            <img class="roomUserImg" src="../../static/mainpage/images/Explore/user-icon.svg">
                        </div>
                        <div class="roomBox-bottom">
                            <div class="roomName">Room Name</div>
                            <div class="roomDescription">Welcome to my room</div>
                            <div class="roomMembers-container">
                                <div class="roomMembers">10/20</div>
                            </div>
                        </div>
                    </div><div class="explore__main--discoverRoomSection--roomBox">
                        <div class="roomBox-top">
                            <img class="roomBoxImg" src="../../static/mainpage/images/Explore/roombox.png">
                        </div>
                        <div class="roomBox-middleUser">
                            <img class="roomUserImg" src="../../static/mainpage/images/Explore/user-icon.svg">
                        </div>
                        <div class="roomBox-bottom">
                            <div class="roomName">Room Name</div>
                            <div class="roomDescription">Welcome to my room</div>
                            <div class="roomMembers-container">
                                <div class="roomMembers">10/20</div>
                            </div>
                        </div>
                    </div><div class="explore__main--discoverRoomSection--roomBox">
                        <div class="roomBox-top">
                            <img class="roomBoxImg" src="../../static/mainpage/images/Explore/roombox.png">
                        </div>
                        <div class="roomBox-middleUser">
                            <img class="roomUserImg" src="../../static/mainpage/images/Explore/user-icon.svg">
                        </div>
                        <div class="roomBox-bottom">
                            <div class="roomName">Room Name</div>
                            <div class="roomDescription">Welcome to my room</div>
                            <div class="roomMembers-container">
                                <div class="roomMembers">10/20</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pageNumber">
                    <div id="pagination" class="page">
                        <button onclick="prevPage()" class="pageButton">Previous</button>
                        <span id="page-num"></span>
                        <button onclick="nextPage()" class="pageButton">Next</button>
                    </div>
                </div>
            </div>
        </main>
        <section class="roomInformation" id="roomInformation"> 
        </section>
    </body>
    <script src="../../static/mainpage/js/Explore/explore.js"></script>
</html>