/*Load animation*/
.left-header{
    animation: loadAnimation 1s ease forwards;
    transform: scale(0);
}
.middle-header-Nav,
.Signup-text,
.Login-button,
.notification-icon-container{
    animation: loadAnimation 1s ease forwards;
    transform: scale(0);
    animation-delay: 0.2s;
}
.header-intro-Title{
    animation: loadAnimation 1s ease forwards;
    transform: scale(0);
    animation-delay: 0.4s;
}
.intro-startnow-button{
    animation: loadAnimation 1s ease forwards;
    transform: scale(0);
    animation-delay: 0.6s;
}
.intro-image{
    animation: loadAnimationImg 1s ease forwards;
    transform: scale(0);
}
@keyframes loadAnimation{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes loadAnimationImg{
    0%{
        transform: translateX(15%);
        filter: blur(10px);
    }
    80%{
        transform: translate(-3%);
    }
    100%{
        transform: translate(0%);
    }
}

/*Appear animation*/
.mid-element,
.location-section,
.prepare-section,
.subcribe-section{
    opacity: 0;
    transform: translateY(50px);
    transition: 0.2s;
}
.mid-element.active,
.location-section.active,
.prepare-section.active,
.subcribe-section.active{
    opacity: 1;
    transform: translateY(0px);
}
/*Notification(bell)*/
.notification-icon:hover {
    animation: bellRing 0.9s ease forwards;
}
@keyframes bellRing {
    0%,
    100% {
        transform-origin: top;
    }

    15% {
        transform: rotateZ(10deg);
    }

    30% {
        transform: rotateZ(-10deg);
    }

    45% {
        transform: rotateZ(5deg);
    }

    60% {
        transform: rotateZ(-5deg);
    }

    75% {
        transform: rotateZ(2deg);
    }
}

.notification-icon:active {
    transform: scale(0.8);
}
/*Hover button*/
.Login-button,
.intro-startnow-button,
.prepare-button,
.subcribe-button{
    transition: all 0.5s ease;
}

.Login-button:hover,
.intro-startnow-button:hover,
.prepare-button:hover,
.subcribe-button:hover {
    background-color: #F0E1B7;
    color: #C26565;
    box-shadow:  #C26565 0px 7px 29px 0px;
}

.middle-header-Nav.current-page {
    content: "";
    width: 0%;
    height: 2.5px;
    position: absolute;
    bottom: -5px;
    background-color: white;
    transition: .3s;
}