<!DOCTYPE html>
<html> 
    <head>
        <title>Stud</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />    
        <link rel="stylesheet" href="./css/header.css"/>
        <link rel="stylesheet" href="./css/fonts.css" />
    </head>
    <body>
        <div class="top-element">
            <!-- Background-cover-->
            <img class="cover" src="images/cover rectangle.svg" alt="alt text"/>
            <!-- Header elements-->
            <div class="group-header">
                <div class="container-header">
                    <header class="header">
                        <div class="left-header">
                            <img class="Stud-logo" src="images/logo_STUD.png"/>  
                        </div>
                        <div class="middle-header">
                            <div class="middle-header-Nav">Home</div>
                            <div class="middle-header-Nav">Explore</div>
                            <div class="middle-header-Nav">Your Room</div>
                            <div class="middle-header-Nav">Contact</div>
                        </div>
                        <div class="right-header">
                            <img class="notification-icon" src="images/Bell.svg"/>
                            <div class="Signup-text">
                                Sign up
                            </div>
                            <button class="Login-button">
                                Log in
                            </button>
                        </div>
                    </header>
                </div>
            </div>
            <!--Header introduction-->
            <div class="group-header-intro">
                <h1 class="header-intro-Title">
                    Find out the best environment to focus and productivity
                </h1>
                <button class="intro-startnow-button">Start now</button>
            </div>
            <img class="intro-image" src="images/intro-image.png">
        </div>
        <div class="mid-element">
            mid element
        </div>
    </body>
</html>