body {
  margin: 0;
  padding: 5% 10%;
  font-family: "Outfit", Helvetica, Arial, serif;
  background-color: #f9f9f9;
  color: #333;
}

h1,
h2,
h3,
h4,
p,
ul,
li,
a {
  margin: 0 0 1em 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2.5em;
  color: #222;
}

h2 {
  font-size: 2em;
  color: #444;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

h3,
h4 {
  font-size: 1.5em;
  color: #555;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

p,
ul {
  font-size: 1.1em;
  line-height: 1.6;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
