.logout:hover,
.setting:hover,
.zoomOut:hover,
.messageIcon:hover{
    transform: scale(1.05);
}
.left-header,
.right-header,
.container-nav,
.messageIcon{
  animation: loadAnimation 1s ease forwards;
  transform: scale(0);
}
@keyframes loadAnimation{
  0%{
      transform: scale(0);
  }
  100%{
      transform: scale(1);
  }
}