body{
    margin: 20px 0px 0px 0px;
}
header{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-header{
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.left-header{
    background-color: #282322;
    width: 287px;
    height: 49px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.yourroom-header{
    width: 164px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 500 20px "Outfit", Helvetica, Arial, serif;
    border-right: 1px solid white;
}
.invite-header{
    width: 73px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 500 20px "Outfit", Helvetica, Arial, serif;
    border-right: 1px solid white;
}
.bellNoti{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-header{
    display: flex;
    flex-direction: row;
    height: 48px;
    width: 192px;
    gap: 24px;
    cursor: pointer;
}
.logout,
.setting,
.zoomOut{
    width: 48px;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #282322;
    border-radius: 10px;
}
/* .logout:hover,
.setting:hover,
.zoomOut:hover,
.messageIcon:hover{
    transform: scale(1.05);
} */
.nav{
    width: 100%;
    height: 72px;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    bottom: 20px;
    transition: bottom 0.3s;
    cursor: pointer;
}
.container-nav{
    width: 454px;
    height: 72px;
    background-color: #282322;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.navItem,
.theme,
.music,
.calendar,
.clock,
.notebook,
.participate{
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.navItem:hover,
.theme:hover,
.music:hover,
.calendar:hover,
.clock:hover,
.notebook:hover,
.participate:hover{
    background-color: #1A0602;
    transform: scale(1.1);    
}
.navImage,
.themeImage,
.musicImage{
    width: 24px;
    height: 24px;
    display: flex;
}
.messageIcon{
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #282322;
    position: absolute;
    right: 40px;
}